@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Roboto+Mono:wght@500&display=swap');


:root {
    /* Font-size */
    --size-h1: 64px;
    --size-h2: 28px;
    --size-h3: 20px;
    --size-p: 14px;
    --size-a: 28px;
    --size-footer: 1.4rem;

    /* Font-family */
    --text-logo: 'Kdam Thmor Pro';
    --text-principal: 'Roboto Mono';

    /* Spacing */
    --spacing-large: 6rem;
    --specing-medium: 2.4rem;
    --spacing-samll: 2rem;
    --spacing-xsamll: 1rem;
    --spacing-xxsmall: 0.7rem;

    /* Colors */
    --base: #F7EFD0;
    --prymary: #000000;
    --secondary: #3eabab;    ;
    --division: #FF312E;

}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


body{
    max-width: 1200px;
    padding: 0 5%;
    margin: 0 auto;
    background-color: var(--base);
}
img {
    width: 100%;
}

header{
    padding: var(--spacing-xsamll) 0;
    border-bottom: 4px groove var(--division);
    display: flex;
    align-items: center;
}

header nav ul {
    /* display: flex; */
    justify-content: flex-end;
    flex-flow: row wrap;
    gap: var(--spacing-xsamll);
    padding-right: var(--spacing-xsamll);
    width: 70%;
}

header nav ul li a{
    font-family: var(--text-principal);
    font-size: var(--size-a);
    text-decoration: none;
    color: var(--prymary);
    padding: 8px;
    border: 2px solid transparent;
}

header nav ul li a.select{
    color: var(--secondary);

}

header nav ul li a:hover{
    border: 2px solid var(--prymary);
    transition: border 0.5s;
}

.logo{
    max-width: 20%;
}
ul {
    list-style-type: none;
}

a{
    font-family: var(--text-principal);
    font-size: var(--size-a);
}

.nav {
    margin: 0;
    align-items: flex-end;
    display: flex;
}
header .row{
}
main {
    padding-bottom: var(--spacing-samll);
}

h1{
    font-family: var(--text-logo);
    font-size: var(--size-h1);
    padding-left: var(--specing-medium);
}

h2{
    font-family: var(--text-principal);
    font-size: var(--size-h2);
    margin-bottom: var(--spacing-xxsmall);
}
h3{
    font-family: var(--text-principal);
    font-size: var(--size-h3);
    color: var(--secondary);
}

footer {
    text-align: center;
    padding: 2px 5%;
    margin: auto;
    text-decoration: none;
    border-top: 4px groove var(--division);
 }

 footer img {
     width: 30px;
     margin: 20px 20px 0px;
 }

/* Inicio */

main section{
    display: flex;

}

main section div{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: var(--spacing-xsamll);
    width: 50%;
}
main section div .grid{
    max-width: 50%;
    padding: 2% 5%;
    
}

main section div img{
    width: 100%;
    height: 100%;
}

main section div img:nth-of-type(1) {
    grid-column: span 2;
    grid-row: span 2;
}
main section div img:nth-child(2){
     grid-column: span 4;
     grid-row: span 2;
 }
main section div img:nth-child(3){
     grid-row: span 3;
 }
main section div img:nth-child(4){
     grid-column: span 3;
 }
main section div img:nth-child(5){
     grid-column: span 3 ;
 }