footer {
    text-align: center;
    padding: 2px 5%;
    margin: auto;
    text-decoration: none;
    border-top: 4px groove $division;

    img {
        width: 30px;
        margin: 20px 20px 0px;
    }
 }

 