/* HEADER */
header{
    @include flex;
    align-items: stretch!important;
    border-bottom: 4px groove map-get($color, "division");
    padding: $spacing-xsmall 0 0;

    nav ul li a{
        justify-content: flex-end;
        font-family: $text-principal;
        font-size: $size-a;
        text-decoration: none;
        color: map-get($color, prymary);

        ul li a:hover{
            transition: color 0.5s;
            color: map-get($color, "secondary")!important;
        }
    }

    .selection{
        color: map-get($color, "secondary")!important;
    }

    .navbar-brand{
        font-family: $text-logo;
        font-size: $size-h1;
        padding-left: $spacing-xxsmall;
    }
}