/* Page - COMIDAS */

.food-title{
    display: flex;
    justify-content: center;
    margin-bottom: $spacing-xsmall;
}

.food-text-primary{
    margin: $spacing-xxsmall $spacing-xsmall 0;
}

.food-text-secondary{
    display: flex;
    flex-flow: row nowrap;
    padding: $spacing-small 0;
    
    div{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        padding: 0 $spacing-xsmall;
        width: 50%;
    }
}

.food-img-secondary{
    width: 50%;
}

