/* Page - CONTACTO */

.form{
    margin-top: $spacing-xsmall;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: $background-card;
}

form {
    width: 70%;
    text-align: center;
    margin-top: $spacing-xsmall;
}