/* Page - CONTACTO */

.contact{
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 2rem;
    @include flex;
    flex-flow: row nowrap;
    align-items: center;
    
}
.form{
    margin: 0%;
    @include flex;
    justify-content: center;
    width: 50%;

}
.contact__img {
    width: 50%;
    height: 100%;
}