/* Page - RAZAS */
.contenedor {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 2rem;
}

.cards {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    
}
.spacing-cards{
    margin-bottom: $spacing-small;
}
.box {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-basis: 30%;
    flex-shrink: 1;
    background-color: $background-card;

    .box__info {
        padding: 0 $spacing-xxsmall;
    }

}