/* BREAKPOINTS */
@media (max-width: 575px){
    ul.navbar-nav{
        align-content: flex-end;
    }
}

@media (min-width: 576px) and (max-width: 768px){
    ul.navbar-nav{
        flex-direction: row;
        justify-content: space-between;
    }
}

@media (max-width:767px) {
    a.navbar-brand{
        padding: 0%!important;
        margin: 0%!important;
    }
    .navbar-nav{
        flex-flow: row wrap;
        justify-content: space-evenly;
    }

    header nav ul li {
        padding: 0 $spacing-xxsmall;
        border: 0;  
    }
    header nav div a.navbar-brand{
        font-size: 48px;
    }
    header nav ul li a:hover{
        border: 0;
        transition: none;
    }
    .contenedor__inicio{
        @include flex;
        flex-direction: column;
        align-items: center;
        }
    .gallery{
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-gap: $spacing-xsmall;
        width: 80%;
    }
    .contenedor__inicio article{
        max-width: 80%;
        padding: 5% 5%;
    }
    h2{
        font-size: 20px;
    }
    h3{
        font-size: 16px;
    }
    p{
        font-size: 14px;
    }
    a{
        font-size: 20px;
    }
    .contenedor {
        @include flex;
        flex-direction: column;
        align-items: center;
        max-width: 768px;
        margin: 0 auto;
        margin-top: 1rem;
        
    }
    .cards {
        max-width: 80%;
        padding: 0 auto;
        @include flex;
        flex-direction: column;
        gap: 0.7rem;
        justify-content: center;
    }
    .contact{
        @include flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }
    .form{
        padding: $spacing-xsmall 0;
    }

    /* Page -comida */
    
    .food-text-secondary{
        flex-flow: column nowrap;
        align-items: center;
        padding: $spacing-xxsmall $spacing-xxsmall;
    }
    .food-text-secondary div{
        width: 100%;
        order: 2;
    }
    .food-img-secondary{
        width: 100%;
        padding: $spacing-xxsmall $spacing-xxsmall;
    }

}

@media (max-width: 1024px) {
    header{
        flex-flow: column nowrap;
        align-items: center;
    }
    
    header nav ul{
        flex-wrap: wrap;
        justify-content: center;
    }
    header nav ul li a{
        padding: 0;
        border: 0;  
    }
}