/* Font-size */
$size-h1: 64px;
$size-h2: 28px;
$size-h3: 20px;
$size-p: 14px;
$size-a: 20px;
$size-footer: 1.4rem;

/* Font-family */
$text-logo: 'Kdam Thmor Pro';
$text-principal: 'Roboto Mono';

/* Spacing */
$spacing-large: 6rem;
$spacing-medium: 2.4rem;
$spacing-small: 2rem;
$spacing-xsmall: 1rem;
$spacing-xxsmall: 0.7rem;

/* Colors */
$base: #F7EFD0;
$prymary: #000000;
$secondary: #3eabab;    ;
$division: #FF312E;

/* Durration */
$animate-duration:1.5s;